<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ page_title }}</title>
    </head>
    <body>
        <a href={% url 'homepage' %}>Home</a>
        <a href={% url 'new_ticket' %}>Submit Ticket</a>
        <a href={% url 'new_user' %}>New User</a>
        <a href={% url 'logout' %}>Logout</a>
        <h1>{{ name }}</h1>
        <h3>Tickets</h3>
        <h4>Assigned</h4>
        {% for ticket in assigned %}
            <a href={% url 'ticket_detail' ticket.id %}>{{ticket.title}}</a>
            <br>
        {% endfor %}
        <h4>Completed</h4>
        {% for ticket in completed %}
            <a href={% url 'ticket_detail' ticket.id %}>{{ticket.title}}</a>
            <br>
        {% endfor %}
        <h4>Filed</h4>
        {% for ticket in filed %}
            <a href={% url 'ticket_detail' ticket.id %}>{{ticket.title}}</a>
            <br>
        {% endfor %}
    </body>
</html>
